.DS_Store
PID_motor_controller_vivado/motor_hardware/*
PID_motor_controller_vivado/vivado*
PID_motor_controller_vivado/.Xli/
PID_motor_controller_vivado/*.jou
PID_motor_controller_vivado/*.log
*.jou
*.log
PID_motor_controller_vitis/.analytics
PID_motor_controller_vitis/.metadata/*
PID_motor_controller_vitis/.sdk/*
PID_motor_controller_vitis/RemoteSystemsTempFiles/*
PID_motor_controller_vitis/webtalk/*
*.docx
* 2.*
* 3.*
* 4.*
* 5.*
.o